<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqj.nutoj.mapper.RecordMapper">

    <resultMap id="BaseResultMap" type="com.xqj.nutoj.model.entity.Record">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="acceptedNum" column="acceptedNum" jdbcType="INTEGER"/>
            <result property="submitNum" column="submitNum" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,acceptedNum,
        submitNum,createTime,updateTime,
        isDelete
    </sql>
</mapper>
